@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/Avenir-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
