@import "../../styles/resources.scss";

.container {
  width: 100%;
  display: flex;
  margin: 1rem 0;

  .primary {
    width: 15%;
  }
  .secondary {
    margin: 0 1rem;
    flex: 85%;
    box-shadow: $box-shadow-4;
    border-radius: 8px;
  }
}

.text {
  font-size: 16px;
}
.currency{
  
}